body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.body-background {
  background: url('../images/background.jpg');
  background-size: cover;
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
      the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
      on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
      while the background image is loading */
  background-color: #464646;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  display: flex;
  font-family: 'Muli', 'sans-serif';
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  padding: 0px 10px;
  outline: none;
  color: white;
  height: 50px;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 10px #8d8d8d;
  border: 0px;
  border-radius: 40px;
  height: 50px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  color: white;
  font-family: 'Muli', 'sans-serif';
  outline: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  letter-spacing: 0px;
}
.label {
  color: rgba(255, 255, 255, 0.95);
  font-family: 'Muli', 'sans-serif';
  padding: 0px 0px 0px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.date {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 10px #8d8d8d;
  border: 1px solid #e8eaed;
  border-radius: 10px;
  height: 40px;
  color: white;
  font-size: 16px;
  color: white;
  font-family: 'Muli', 'sans-serif';
  outline: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.radio {
  vertical-align: baseline;
  margin-right: 10px;
  padding: 0px 0px 0px 10px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.95);
}

input[type="radio"]{
  color: rgba(255, 255, 255, 0.95);
  font-family: 'Muli', 'sans-serif';
  margin: 0 10px 0 10px;
}

.select {
  position: relative;
  min-width: 200px;
  margin-bottom: 10px;
}
.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;

  stroke: rgb(234, 237, 240);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
.select select {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease-in-out;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 10px;
  box-shadow: 0 1px 3px -2px #f1f2f3;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.select select:required:invalid {
  color: rgba(255, 255, 255, 0.95);
}
.select select option {
  color: #16171a;
}
.select select option[value=''][disabled] {
  display: none;
}

.select select:hover + svg {
  stroke: rgb(234, 237, 240);
}
.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.button:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 12px #fffefe;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Muli', 'sans-serif';
  padding: 0px 30px;
  margin-top: 100px;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}

.register__container {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  padding: 30px 48px 40px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.register__container h2 {
  color: rgba(255, 255, 255, 0.95);
}

.register__container--form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.register__container--form label {
  font-size: 14px;
}

.Error-Page__container--404 {
  font-size: 100px;
  margin: 0;
}

::placeholder {
  color: white;
}

.footer {
  align-items: center;
  display: flex;
  height: 100px;
  width: 100%;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .register__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .shadow-5 {
    box-shadow: none;
  }
}

.shadow-5 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
